system:
  os: "linux"
  status: "debug"
  worker_id: 1
  data_center_id: 1

service:
  gateway:
    service_name: "gateway"
    address: "0.0.0.0:4000"
  user:
    service_name: "user"
    address: "127.0.0.1:10001"

mysql:
  username: "root"
  password: "password"
  address: "127.0.0.1:3306"
  database: "tiktok"
  charset: "utf8mb4"

etcd:
  user: "tiktok"
  password: "tiktok"
  endpoint: "127.0.0.1:2379"
  service_prefix: "service/"
  for_text: "text"
