system:
  os: "linux"
  status: "debug"
  worker_id: 1
  data_center_id: 1

service:
  gateway:
    service_name: "gateway"
    address: "0.0.0.0:4000"
  user:
    service_name: "user"
    address: "127.0.0.1:10001"
  video:
    service_name: "video"
    address: "127.0.0.1:10011"
  interaction:
    service_name: "interaction"
    address: "127.0.0.1:10021"
  relation:
    service_name: "relation"
    address: "127.0.0.1:10031"

mysql:
  username: "root"
  password: "asodoln1ias"
  address: "127.0.0.1:3306"
  database: "tiktok"
  charset: "utf8mb4"

etcd:
  user: "tiktok"
  password: "tiktok"
  endpoint: "127.0.0.1:2379"
  service_prefix: "service/"
  for_text: "text"

qiniu:
  access_key: "your-access-key"
  secret_key: "your-secret-key"
  avatar_path: "static/avatars/"
  video_path: "static/videos/"
  cover_path: "static/videos/covers/"
  default_avatar_path: "static/avatars/default.jpg"
  bucket: "your-bucket-name"
  domain: "your-domain"

redis:
  host: "127.0.0.1"
  port: "6379"
  database: 0
  network: "tcp"
  password: "tiktokpassword"

kafka:
  address: "127.0.0.1:9093"
  network: "tcp"
